--
-- PostgreSQL database dump
--

-- Dumped from database version 17.6
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.check_ins DROP CONSTRAINT IF EXISTS "FK_ec62eb9e9e2b46305f66e50272c";
ALTER TABLE IF EXISTS ONLY public.payments DROP CONSTRAINT IF EXISTS "FK_dcf8450959aadff1b025a2434d7";
ALTER TABLE IF EXISTS ONLY public.registrations DROP CONSTRAINT IF EXISTS "FK_baa074efd7d8645f5bce29953e2";
ALTER TABLE IF EXISTS ONLY public.check_ins DROP CONSTRAINT IF EXISTS "FK_a8f00d1aa1dfd6f6307e1abe494";
ALTER TABLE IF EXISTS ONLY public.registrations DROP CONSTRAINT IF EXISTS "FK_6aacc9b213fd8c881af6c738ecf";
DROP INDEX IF EXISTS public.uq_registrations_workshop_user;
DROP INDEX IF EXISTS public.idx_workshops_start_time;
ALTER TABLE IF EXISTS ONLY public.check_ins DROP CONSTRAINT IF EXISTS "UQ_ec62eb9e9e2b46305f66e50272c";
ALTER TABLE IF EXISTS ONLY public.payments DROP CONSTRAINT IF EXISTS "UQ_dcf8450959aadff1b025a2434d7";
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS "UQ_97672ac88f789774dd47f7c8be3";
ALTER TABLE IF EXISTS ONLY public.payments DROP CONSTRAINT IF EXISTS "UQ_59dcef70bd19850783c84f840e5";
ALTER TABLE IF EXISTS ONLY public.registrations DROP CONSTRAINT IF EXISTS "UQ_5704d03a9fa1e1dd0467adfa0de";
ALTER TABLE IF EXISTS ONLY public.check_ins DROP CONSTRAINT IF EXISTS "PK_fac7f27bc829a454ad477c13f62";
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS "PK_a3ffb1c0c8416b9fc6f907b7433";
ALTER TABLE IF EXISTS ONLY public.workshops DROP CONSTRAINT IF EXISTS "PK_6d0e82a124f5b53df91c8989848";
ALTER TABLE IF EXISTS ONLY public.registrations DROP CONSTRAINT IF EXISTS "PK_6013e724d7b22929da9cd7282d1";
ALTER TABLE IF EXISTS ONLY public.payments DROP CONSTRAINT IF EXISTS "PK_197ab7af18c93fbb0c9b28b4a59";
DROP TABLE IF EXISTS public.workshops;
DROP TABLE IF EXISTS public.users;
DROP TABLE IF EXISTS public.registrations;
DROP TABLE IF EXISTS public.payments;
DROP SEQUENCE IF EXISTS public.migrations_id_seq3;
DROP SEQUENCE IF EXISTS public.migrations_id_seq2;
DROP SEQUENCE IF EXISTS public.migrations_id_seq1;
DROP SEQUENCE IF EXISTS public.migrations_id_seq;
DROP TABLE IF EXISTS public.check_ins;
DROP TYPE IF EXISTS public.users_user_role_enum;
DROP TYPE IF EXISTS public.registrations_status_enum;
DROP TYPE IF EXISTS public.payments_status_enum;
DROP TYPE IF EXISTS public.check_ins_sync_status_enum;
DROP SCHEMA IF EXISTS public;
--
-- Name: public; Type: SCHEMA; Schema: -; Owner: -
--

CREATE SCHEMA public;


--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON SCHEMA public IS 'standard public schema';


--
-- Name: check_ins_sync_status_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.check_ins_sync_status_enum AS ENUM (
    'synced',
    'pending_sync'
);


--
-- Name: payments_status_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.payments_status_enum AS ENUM (
    'pending',
    'success',
    'failed'
);


--
-- Name: registrations_status_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.registrations_status_enum AS ENUM (
    'pending',
    'confirmed',
    'cancelled',
    'checked_in'
);


--
-- Name: users_user_role_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.users_user_role_enum AS ENUM (
    'student',
    'staff',
    'admin'
);


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: check_ins; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.check_ins (
    id uuid DEFAULT extensions.uuid_generate_v4() NOT NULL,
    registration_id uuid NOT NULL,
    staff_id uuid NOT NULL,
    sync_status public.check_ins_sync_status_enum NOT NULL,
    device_id character varying(100) NOT NULL,
    checked_in_at timestamp with time zone NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: migrations_id_seq1; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.migrations_id_seq1
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: migrations_id_seq2; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.migrations_id_seq2
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: migrations_id_seq3; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.migrations_id_seq3
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: payments; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.payments (
    id uuid DEFAULT extensions.uuid_generate_v4() NOT NULL,
    registration_id uuid NOT NULL,
    idempotency_key character varying(100),
    transaction_id character varying(255),
    status public.payments_status_enum DEFAULT 'pending'::public.payments_status_enum NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: registrations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.registrations (
    id uuid DEFAULT extensions.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL,
    workshop_id uuid NOT NULL,
    status public.registrations_status_enum DEFAULT 'pending'::public.registrations_status_enum NOT NULL,
    qr_code character varying(255),
    payment_id uuid,
    registered_at timestamp without time zone DEFAULT now() NOT NULL,
    expires_at timestamp with time zone,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id uuid DEFAULT extensions.uuid_generate_v4() NOT NULL,
    student_id character varying(10),
    full_name character varying(100) NOT NULL,
    email character varying NOT NULL,
    password_hash character varying,
    user_role public.users_user_role_enum DEFAULT 'student'::public.users_user_role_enum NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: workshops; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.workshops (
    id uuid DEFAULT extensions.uuid_generate_v4() NOT NULL,
    title character varying(255) NOT NULL,
    detail text NOT NULL,
    capacity integer NOT NULL,
    registered_count integer DEFAULT 0 NOT NULL,
    price numeric(10,2) DEFAULT '0'::numeric NOT NULL,
    start_time timestamp with time zone NOT NULL,
    end_time timestamp with time zone NOT NULL,
    room character varying(100) NOT NULL,
    speaker character varying(100) NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: payments PK_197ab7af18c93fbb0c9b28b4a59; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT "PK_197ab7af18c93fbb0c9b28b4a59" PRIMARY KEY (id);


--
-- Name: registrations PK_6013e724d7b22929da9cd7282d1; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.registrations
    ADD CONSTRAINT "PK_6013e724d7b22929da9cd7282d1" PRIMARY KEY (id);


--
-- Name: workshops PK_6d0e82a124f5b53df91c8989848; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.workshops
    ADD CONSTRAINT "PK_6d0e82a124f5b53df91c8989848" PRIMARY KEY (id);


--
-- Name: users PK_a3ffb1c0c8416b9fc6f907b7433; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "PK_a3ffb1c0c8416b9fc6f907b7433" PRIMARY KEY (id);


--
-- Name: check_ins PK_fac7f27bc829a454ad477c13f62; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.check_ins
    ADD CONSTRAINT "PK_fac7f27bc829a454ad477c13f62" PRIMARY KEY (id);


--
-- Name: registrations UQ_5704d03a9fa1e1dd0467adfa0de; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.registrations
    ADD CONSTRAINT "UQ_5704d03a9fa1e1dd0467adfa0de" UNIQUE (qr_code);


--
-- Name: payments UQ_59dcef70bd19850783c84f840e5; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT "UQ_59dcef70bd19850783c84f840e5" UNIQUE (idempotency_key);


--
-- Name: users UQ_97672ac88f789774dd47f7c8be3; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "UQ_97672ac88f789774dd47f7c8be3" UNIQUE (email);


--
-- Name: payments UQ_dcf8450959aadff1b025a2434d7; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT "UQ_dcf8450959aadff1b025a2434d7" UNIQUE (registration_id);


--
-- Name: check_ins UQ_ec62eb9e9e2b46305f66e50272c; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.check_ins
    ADD CONSTRAINT "UQ_ec62eb9e9e2b46305f66e50272c" UNIQUE (registration_id);


--
-- Name: idx_workshops_start_time; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_workshops_start_time ON public.workshops USING btree (start_time);


--
-- Name: uq_registrations_workshop_user; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX uq_registrations_workshop_user ON public.registrations USING btree (workshop_id, user_id);


--
-- Name: registrations FK_6aacc9b213fd8c881af6c738ecf; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.registrations
    ADD CONSTRAINT "FK_6aacc9b213fd8c881af6c738ecf" FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: check_ins FK_a8f00d1aa1dfd6f6307e1abe494; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.check_ins
    ADD CONSTRAINT "FK_a8f00d1aa1dfd6f6307e1abe494" FOREIGN KEY (staff_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: registrations FK_baa074efd7d8645f5bce29953e2; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.registrations
    ADD CONSTRAINT "FK_baa074efd7d8645f5bce29953e2" FOREIGN KEY (workshop_id) REFERENCES public.workshops(id) ON DELETE CASCADE;


--
-- Name: payments FK_dcf8450959aadff1b025a2434d7; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT "FK_dcf8450959aadff1b025a2434d7" FOREIGN KEY (registration_id) REFERENCES public.registrations(id) ON DELETE CASCADE;


--
-- Name: check_ins FK_ec62eb9e9e2b46305f66e50272c; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.check_ins
    ADD CONSTRAINT "FK_ec62eb9e9e2b46305f66e50272c" FOREIGN KEY (registration_id) REFERENCES public.registrations(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--


